.list,
.site-content__section__page ul {
    list-style: none;
    padding-left: 3rem;
    margin: 1rem 0 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;

	&__item,
	li {
		align-items: center;
        gap: 1rem;
        font-size: 1.8rem;
		position: relative;

		&::before {
			content: '';
			display: inline-block;
			height: 1rem;
            width: 1rem;
            align-self: flex-start;
            margin-top: .8rem;
			mask-image: url(../../img/list-item-icon.svg);
			mask-size: cover;
			background-color: $color-gcp-secondary;
			position: absolute;
			left: -2rem;
			top: .25rem;
		}

		// Fix display radio button when the label text is too long
		/*span {
            width: 100%;
            line-height: 1.5;
		}*/
	}
}