// ********************
// Footer styles
// ********************

.footer {
    background: $color-gcp-tertiary;
    @include grid(2);
    padding: 5rem 0;

    @include respond(phone) {
        row-gap: 5rem;
    }

    &__social-media {
        grid-column: 2 / 3;
        justify-self: flex-start;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4rem;
        list-style: none;

        @include respond(phone) {
            grid-column: 2 / 4;
            justify-self: center;
        }
    }

    &__item {
        & svg {
            height: 2rem;
            width: 2rem;

            & > * {
                @include transition15();
            }
        }

        &:hover svg > * {
            fill: $color-gcp-secondary;
        }
    }

    &__brand {
        justify-self: flex-end;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 1rem;

        @include respond(phone) {
            grid-column: 2 / 4;
            justify-self: center;
        }
    }

    &__logo {
        height: auto;
        width: 20rem;
    }

    &__brand-text {
        font-size: 1.3rem;
        color: $color-white;
    }
}